@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-Book.woff");
}

@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-BookItalic.woff");
  font-style: italic;
}

html {
  font-size: 1px;
}