@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-Book.woff");
}

@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "CircularStd";
  src: url("../static/fonts/CircularStd/CircularStd-BookItalic.woff");
  font-style: italic;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

body {
  margin: 0px;
}

html {
  font-size: 8px;
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 10px;
  }
}